{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="login-container">
        <center><h1>Sign Up / Log In</h1></center>
        <form class="formm">
          <!-- <label for="username">Username or Email:</label> -->
          <input type="text" id="username" name="username" placeholder="Ism">
          <!-- <label for="en">Email:</label> -->
          <input type="text" id="username" name="username" placeholder="Email">
          <input type="password" id="password" name="password" placeholder="+998 90 000 00 00">
          <input type="text" id="username" name="username" placeholder="Password:">
          
          <div class="bttn">
            <button type="submit">Yuborish</button>
            <button type="button" onclick="clearFields()">Clear</button>
          </div>
          
           <a href="/Online Oquv Markaz Kirish/index.html" class="fff">Kirish</a>

        </form>
    </div>
</body>
</html>